/* General Styling */
.my_body{
    background-color:#E4E4EC;;
}

.font_color{
    color: #625C5C;
}

/* Navbar styles */

.my_navbar{
    background-color: #E4E4EC;
    
}

.nav_tagline{
    color: #625C5C;
    margin-top: 2.5rem;
    font-weight: bold;
}

/* Front Banner */

.welcome_text{
    font-size: 5.8vw;
}

.front_menu_text{
    font-size: 5rem;
    z-index: 10; 
    margin-bottom: 100rem                                                                                                                                                                                                                                                                                                                       ;
}

.fotw_text{
    color: #F37474;
    font-size: 7vw;
    margin-top: 10rem;
}
 .quick_menu_cont{
     margin-top: 7rem;
 }


/* footer styles */

.footer_color{
    background-color: #D1CAD1;
}

.footer_font{
    color: #545151;
}

.footer_menu{
    font-size: 5vh;
    font-weight: bold;
}

 .form_text{
     font-size: 2rem;
     margin-top: 6rem;
 }

 .footer_button{
     background-color: #545151;
     
 }

 .footer_company_text{
     font-size: 1.5rem;
 }
 .icon_size{
    font-size: 4rem;
    margin-left: 4.2rem;
    margin-top: 3rem;
 }

 .footer_logo{
     width: 28rem;
     margin-left: 7.5rem;
 }
 
 /* Blog post styles (front page) */

 .blog_margin{
     margin-top: 6rem;
 }

 .my_p{
     font-size: 1.4vw;
 }

 .blog_h1{
    color: #F37474;
    
 }